# Dependency directories
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other files
*.log
*.tmp
*.lock

# Secrets
.env.local
id_rsa_main
Personal_accessKeys.csv

# Terraform
.terraform/
*.tfstate
*.tfstate.*
